@import 'src/style/mixins';

.screensaver {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
	left: 0;

  opacity: 0;

  @include transition(opacity, 0.25s, ease-out);

  &[data-show=true] {
    opacity: 1;
  }
}