.weather {
	.tempIconWrap {
		width: 100%;

		float: left;
		
		h1 {
			float: left;

			margin: 0;

			font-size: 120px;
			font-weight: 100;
			letter-spacing: 2px;

			span {
				font-size: 48px;
				font-weight: 300;
				vertical-align: 58px;
			}
		}

		img {
			float: left;

			margin: 30px 0 0 40px;
		}
	}

	h2 {
		width: 380px;

		margin: 0 0 30px 0;

		font-size: 30px;
		font-weight: 300;
		letter-spacing: 1px;
	}

	h3 {
		margin: 20px 0 0 0;

		font-size: 30px;
		font-weight: 300;
		letter-spacing: 1px;
	}

	.hourlyWrap {
		display: flex;
		flex-direction: row;

		margin-left: -8px;

		.hourly {
			width: 54px;

			display: flex;
			flex-direction: column;

			.hour {
				align-self: center;

				margin-bottom: 10px;
			}

			img {
				align-self: center;

				margin-bottom: 10px;
			}

			p {
				align-self: center;

				margin: 0;
			}

			.temp {
				span {
					font-size: 12px;
					font-weight: 300;
					vertical-align: 5px;
				}
			}
		}
	}
}