.dateTime {
	text-align: right;

	h1 {
		margin: 0;

		font-size: 120px;
		font-weight: 100;
		letter-spacing: 2px;
	}

	h2 {
		margin: 0;

		font-size: 30px;
		font-weight: 300;
		letter-spacing: 1px;
	}
}