.news {
	width: 100%;

	display: flex;
	flex-direction: column;

	p {
		width: 100%;

		margin: 0;

		font-size: 24px;
		font-weight: 300;
		text-align: center;

		&.abstract {
			width: 80%;

			margin-top: 10px;

			font-size: 16px;

			align-self: center;
		}
	}
}