@import 'src/style/mixins';

.app {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  padding: 5px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  .section {
    width: 100%;
    height: 50%;
    position: relative;

    display: flex;

    &.top {
      flex-direction: row;
      justify-content: space-between;
    }

    &.bottom {
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
}